# Object files
*.o
*.o.cmd

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Other
*.mod.c
*.symvers
*.ko
*.ko.cmd
*.order
.tmp_versions